# Datadog (obrigatório)
DD_API_KEY=sua_api_key_aqui
DD_SITE=us5.datadoghq.com
DD_ENV=movida-lab
DD_HOSTNAME=movida-ec2-lab
DD_VERSION=1.0.0
DD_PROFILING_ENABLED=false

# PostgreSQL cluster
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_admin_change_me
REPLICATION_PASSWORD=replica_secret_change_me
APP_DB_PASSWORD=movida_secret_change_me

# Portas expostas na EC2
APP_ALB_PORT=8080
DB_LB_PORT=5432
DB_READ_LB_PORT=5433
