global
    log stdout format raw local0
    maxconn 4096

defaults
    log     global
    mode    tcp
    option  tcplog
    timeout connect 5s
    timeout client  60s
    timeout server  60s

# PostgreSQL Query Router (conceito MySQL Router / SPQR no lab)
# Porta 6446 = ESCRITA -> PRIMARY
# Porta 6447 = LEITURA -> PRIMARY + REPLICA (round-robin)
#
# Referencia: https://www.postgresql.org/about/news/stateless-postgres-query-router-100-released-2759/

listen router_write
    bind *:6446
    mode tcp
    option tcp-check
    tcp-check connect
    balance first
    server pg-primary pg-primary:5432 check inter 3s fall 2 rise 2

listen router_read
    bind *:6447
    mode tcp
    option tcp-check
    tcp-check connect
    balance roundrobin
    server pg-primary-read pg-primary:5432 check inter 3s fall 2 rise 2
    server pg-replica-read pg-replica:5432 check inter 3s fall 2 rise 2
