global
    log stdout format raw local0
    maxconn 4096

defaults
    log     global
    mode    tcp
    option  tcplog
    timeout connect 5s
    timeout client  60s
    timeout server  60s

# Simula ALB/NLB na camada de banco (PostgreSQL TCP)
# Escrita -> primary | Leitura -> round-robin primary + replica
listen postgres_write
    bind *:5432
    mode tcp
    option tcp-check
    tcp-check connect
    balance first
    server pg-primary pg-primary:5432 check inter 3s fall 2 rise 2

listen postgres_read
    bind *:5433
    mode tcp
    option tcp-check
    tcp-check connect
    balance roundrobin
    server pg-primary-read pg-primary:5432 check inter 3s fall 2 rise 2
    server pg-replica-read pg-replica:5432 check inter 3s fall 2 rise 2 backup
