global
    log stdout format raw local0
    maxconn 4096

defaults
    log     global
    mode    tcp
    option  tcplog
    timeout connect 5s
    timeout client  60s
    timeout server  60s

# Camada externa: NLB / LB (equivalente 10.220.10.10 no diagrama Movida)
# Encaminha todo trafego para o PostgreSQL Router
listen lb_to_router_write
    bind *:5432
    mode tcp
    option tcp-check
    tcp-check connect
    server router-write pg-router:6446 check inter 3s fall 2 rise 2

listen lb_to_router_read
    bind *:5433
    mode tcp
    option tcp-check
    tcp-check connect
    server router-read pg-router:6447 check inter 3s fall 2 rise 2
